body
{
    FONT-FAMILY:  Tahoma, Arial, sans-serif; background-repeat:repeat-x; background-color:#FFFFFF;
}

.header {  FONT-FAMILY:  Arial, verdana, sans-serif; font-size: 20px; font-style: normal; letter-spacing:0px; line-height: 30px; font-weight: bold; color: #2F5090;}
.loc {  FONT-FAMILY:  Arial; font-size: 10px; font-style: normal; line-height: 15px; font-weight: normal; color: #808080;}

.mtitle {  FONT-FAMILY:  Arial, verdana, Arial, sans-serif; font-size: 25px; font-style: normal; line-height: 30px; letter-spacing:-1; font-weight: bold; color: #3B61A0;}
.ctitle {  FONT-FAMILY:  Arial, verdana, Arial, sans-serif; font-size: 20px; font-style: normal; line-height: 30px; font-weight: normal; color: #000000;}
.title {  FONT-FAMILY:  Arial, verdana, Arial, sans-serif; font-size: 16px; font-style: normal; line-height: 30px; font-weight: bold; color: #000000;}
.stitle {  FONT-FAMILY:  verdana, Arial, sans-serif; font-size: 12px; font-style: normal; line-height: 20px; font-weight: bold; color: #000000;}

.tap {  FONT-FAMILY:  Tahoma; font-size: 11px; font-style: normal; line-height: 17px; font-weight: normal; color: #FFFFFF;}
.tap A {	COLOR: #000000; TEXT-DECORATION: none;}
.tap A:hover {	COLOR: #000000; TEXT-DECORATION: underline}

.wel {  FONT-FAMILY:  Times New Roman; font-size: 30px; font-style: normal; line-height: 17px; font-weight: normal; color: #000000;}
.wel A {	COLOR: #000000; TEXT-DECORATION: none;}
.wel A:hover {	COLOR: #525252; TEXT-DECORATION: none}

.nav {  FONT-FAMILY:  Tahoma; font-size: 11px; font-style: normal; line-height: 17px; font-weight: normal; color: #FFFFFF;}
.nav A {	COLOR: #FFFFFF; TEXT-DECORATION: none;}
.nav A:hover {	COLOR: #FFFFFF; TEXT-DECORATION: underline}

.mainnav {  FONT-FAMILY:  Tahoma; font-size: 11px; font-style: normal; line-height: 16px; font-weight: bold; color: #3B61A0;}
.mainnav A {	COLOR: #3B61A0; TEXT-DECORATION: none;}
.mainnav A:hover {	COLOR: #000000; TEXT-DECORATION: none}

.con12 {  font-size: 12px; font-style: normal; line-height: 17px; font-weight: normal; color: #000000;}
.con12 A {	COLOR: #0064ba; TEXT-DECORATION: underline;}
.con12 A:hover {	COLOR: #000000; TEXT-DECORATION: none}

.con11 {  font-size: 11px; font-style: normal; line-height: 15px; font-weight: normal; color: #000000;}
.con11 A {	COLOR: #0064ba; TEXT-DECORATION: underline;}
.con11 A:hover {	COLOR: #000000; TEXT-DECORATION: none}

.footer {  font-size: 11px; font-style: normal; line-height: 15px; font-weight: normal; color: #000000;}
.footer A {	COLOR: #0064ba; TEXT-DECORATION: none;}
.footer A:hover {	COLOR: #000000; TEXT-DECORATION: none}

.proexpand {	COLOR: #0064ba; FONT-FAMILY: Arial, Trebuchet MS, Tahoma; FONT-SIZE: 12px; FONT-WEIGHT: normal; LINE-HEIGHT: 17px}
.proexpand A {	COLOR: #0064ba; TEXT-DECORATION: none}
.proexpand A:hover {	COLOR: #000000; TEXT-DECORATION: underline}

.mktree {	COLOR: #0064ba; FONT-FAMILY: Arial, Trebuchet MS, Tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 17px}
.mktree A {	COLOR: #0064ba; TEXT-DECORATION: none}
.mktree A:hover {	COLOR: #000000; TEXT-DECORATION: underline}