@charset "utf-8";

body { margin:0; padding:0; width:100%; color:#575757; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background:#FFFFFF;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:0px 0 70px 0px; margin:0 auto; width:1160px; background:#04106a; border-top:5px solid #04106a; border-bottom:5px solid #04106a; border-left:5px solid #04106a; border-right:5px solid #04106a;}
.logo img { float:right; margin:0 0px 0 0; border:0px}
h1 { margin:0; padding:20px 0; width:800px; color:#767676; font:normal 30px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-2px;}
h1 a, h1 a:hover { color:#87CEFA; text-decoration:none;}
h1 small { text-align:left; float:right; width:130px; border-left:1px solid #e1e0e0; color:#bab9b9; display:block; padding:15px 0 15px 10px; font:normal 12px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
h2 { font:normal 20px Arial, Helvetica, sans-serif; padding:0; margin:1px 0; color:#595959;}
h3 { font:bold 16px/2em  Arial, Helvetica, sans-serif; padding:0; margin:5px 0; color:#595959;}
h4 { font:normal 20px Arial, Helvetica, sans-serif; padding:0; margin:1px 0; color:#dedede;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
p.spec { text-align:right;}
a { color:#2cadff; text-decoration:none;}
a:hover { text-decoration:underline;}
a.rm, a.com { margin-left:8px; padding:9px 12px; background:url(images/a_bg.gif) repeat-x top; text-decoration:none; color:#fff;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
/*header {}*/
.header {height:100px; background:#fff url(pic/3 logo.png) repeat-x center 88px; position:fixed; width:100%; z-index:1}
.header_resize { margin:0 auto; padding:0; width:1150px;}
.header_img { width:1160px; border:2px solid #e1e0e0; padding:5px 0; background:#fdfdfd;}
.header_img img { margin:50px auto; padding:0 0 0 5px;}

/* menu */
.menu_nav { margin:0px auto; padding:10px 3px; float:left; border:2px solid #04106a; width:1160px; background:#fdfdfd;}
.menu_nav ul { list-style:none; width:1080px; float:left; padding:6px 0 0 0;}
.menu_nav ul li { margin:0; padding:0 10px; float:left; background:url(images/menu.gif) no-repeat right center;}
.menu_nav ul li a { border-right:1px solid #dfdfdf; display:block; background: url(images/menu_a_hover.gif) left no-repeat; margin:0; padding:2px 10px 2px 15px; color:#848383; text-decoration:none; font:normal 13px Arial, Helvetica, sans-serif;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#248bcc; background: url(images/menu_a.g if) left no-repeat; }
.menu_nav ul li.last a { border:0;}

/* search */
.search form { float:right; padding:0; margin:0; }
.search span { display:block; float:left; background:#fff; width:201px; padding:2px 0 5px 0; height:23px; border:1px solid #e9e9e9;}
.search form .keywords { width:162px; line-height:13px; height:13px; float:left; background:none; border:0; padding:5px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#bab9b9; }
.search form .button { float:left; margin:0; padding:0; border:0; position:relative; }

/* content */
.content { padding:0 0 0 0;}
.content_resize { margin:0 auto; padding:0; width:1050px;}
.content .mainbar { margin:0; padding:110px 80px 0 0; float:right;}
.content .mainbar img { padding:4px; margin:0 10px 0 0; border:1px solid #eaecec; background-color:#fff;}
.content .mainbar .article {
	margin:0 -148px 20px 10px;
	padding:20px 20px;
	width:820px;
	border:2px solid #e2e3e4;
	background:#fdfdfd;
	text-align: justify;
}
.content .mainbar .article span.butons a { margin:0 5px 0 0; float:right; color:#9a9a9a; padding:1px 10px; text-decoration:none;  border:1px solid #ebe8e8; background:#fbfbfc;}
.content .mainbar .article span.butons a:hover { border:1px solid #d9f0ff; background:#40b5ff; color:#fff; text-decoration:none;}
.content .mainbar .article span.butons a.active {  border:1px solid #ebe8e8;  background:#40b5ff; color:#fff; text-decoration:none;}
.content .sidebar { margin:0; padding:5px 0 0 0; float:right; position:fixed}
.content .sidebar .gadget { margin:110px 0 20px -50px; padding:20px 20px; width:260px; border:2px solid #22254db3; background: #22254db3;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0; border-bottom:1px solid #dedede;}
ul.sb_menu li { padding:6px 0 4px 0px; width:260px;}
ul.ex_menu li { padding:4px 0 8px 12px;}
ul.sb_menu li a, ul.ex_menu li a { color:#ffffff; text-decoration:none; margin-left:-12px; padding-left:12px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#16f5db; text-decoration:underline;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { padding:10px 0 0 0;}
.fbg_resize { margin:0 auto; padding:20px 20px; width:930px; border:2px solid #e2e3e4; background:#fdfdfd;}
.fbg  h2 { color:#595959;}
.fbg  img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:300px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}
.fbg .c1 img { margin:8px;}
.fbg .c3 img { margin:8px 16px 4px 0; float:left;}

/* footer */
.footer { width:1024px; margin:0 auto; padding:5px 0;}
.footer p.lf { margin:0; padding:3px 0; float:right; width:1024px; text-align:right; line-height:1.5em; color:#888787;}
.footer p.lf a { color:#2cadff;}
.footer p.lr { margin:0; padding:4px 0; float:left; width:1024px; line-height:1em; color:#888787;}
.footer p.lr a { color:#2cadff;}


/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}
.main .header .header_resize center h2 a strong {
	color: #666666;
}
strong {
	color: #FFFFFF;
}


/***************** Accordion Style ******************/
button.accordion {
    background-color:#04106a ;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 10px 10px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;border-bottom: 1px solid #ffffff;
}


button.accordion.active, button.accordion:hover {
    background-color: ;
}


div.panel {
    padding: 0 18px;
    background-color:;
    display: none;
}

div .panel p {border-bottom: 1px dotted #afb8ff; margin-bottom: 5px;}
div.panel a{
	color: #ffffff;
text-decoration: none;}

div.panel a:hover{
	color: #16f5db;
text-decoration: none;}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
	color: #ffffff;
}

/**************** Image Zoom Style **************/

.more {
      display: none;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666; }
   a.showLink, a.hideLink {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;
      }
   a.showLink:hover, a.hideLink:hover {
      border-bottom: 1px dotted #36f; }


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}